.outset
  %table.index
    %thead
      %th Owner
      %th Title
      %th Category
      %th Snippet
      %th Expires On
      %th Actions
    %tbody
      - @adverts.each do |advert|
        - title = advert.title.blank? ? edit_admin_advert_path(advert) : advert.title
        %tr
          %td.name=link_to title, [:edit, :admin, advert]
          %td=advert.reader.organisation if advert.reader
          %td=advert.categories.try(:join, ', ')
          %td=advert.snippet
          %td=advert.expires_on
          %td.actions=link_to image('minus') + ' ' + I18n.t('remove'), [:admin, advert], :method => :delete, :confirm => "Really delete advert?", :class => "action"

#actions
  %ul
    %li=link_to 'New Advert', new_admin_advert_path