%h2 Registration

-if @reader.new_record?
  This is free. If you already registered you can 
  =link_to 'Sign in here', '/account/login'
  %p
    If you would rather print a subscription form, 
    %a{:href=>"/assets/951/NZFFA-Tree-Grower-Application-form.pdf", :target => "_blank"}
      download this PDF
    \. You can post this to us with a cheque.
  

%p Fields marked with * are required

= render 'reader_form', :locals => {:url => '/membership/register'}